<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
					"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nari.taskmanager.dao.ZKTaskDao">

<select id="getDevcieByUid" parameterType="String" resultType="DevicesPo">
	select * from mgt_device  where uid=#{uid}
</select>

<select id="getDeviceParamByUid" parameterType="String" resultType="java.util.Map">  
    ${sql} 
</select> 
<select id="getSystemParamByUid" parameterType="String" resultType="java.util.Map">  
    ${sql} 
</select> 
</mapper>
