html,body{
	margin:0px;
	padding:0px;
	height:100%;
	width:100%;
}
.contain{
	margin:1%;
	width:98%;
	height:95%;
	float:left;
	min-width:400px;
}
.search{
	border-bottom: 1px solid #ddd;
}
.goBack{
	float: left;
	width:8%;
	height: 90%;
}
.goBack input{
	width:100%;
	height: 100%;
	border-radius: 5px;
	background-color:#3297d8;
	font-size:20px;
	color:#fff;
	text-align:center;
	line-height: 20px; 
}
.search-txt{
	float: right;
	width:40%;
	height: 90%;
}
.search-txt .txt{
	float: left;
	width: 60%;
	height: 100%;
}
.search-txt input{
	float: left;
	width:90%;
	height: 90%;
}
#kw{
	height:26px;
}
#g2 ul li:hover{
	background:#3297d8;
	color:#fff;
}
.search-txt .search-btn{
	text-align:center;
	width: 20%;
	height: 100%;
	background-color:#3297d8;
	font-size:20px;
	color:#fff;
	line-height: 20px; 
	float: left;
}
.item{
    padding:3px 5px;
    cursor:pointer;
}
.addbg{
    background:#87A900;
}
.first{
    border:solid #87A900 2px;
    width:300px;
}
#append{
	background-color:#fff; 
    border:solid #87A900 2px;
    border-top:0;
    display:none;


}
.prompt{
	width: 98%;
	height:40px;
	margin-left:6px; 
	/* background-color:#FFFFF0; */
	border: 1px solid #ddd;
	z-index: 10 ;
	border-radius: 5px;
}
.hint{
	float: left;
	width: 50%;
	height: 30px;
	font-size:14px;
	line-height: 30px;
}
.form{
	float: left;
	margin: 5px;
	width: 25%;
	height: 30px;
	font-size:14px;
	line-height: 30px;
	text-align: right;
}
.servshow{
	width: 98%;
	height: 85%;
	margin:10px 0 0 6px; 
}
.servinfo{
	width: 98%;
	height: 100%;
}
.servifo .row{
	width: 90%;
	height: auto;
}
.col-md-2{
	width: 15.4%;
	height: 45%;
	background-color: #aaa;
}
/* js��һЩ�ڵ���ʽ����� */
.infomenu{
	margin: 0.5%;
	float: left;
	width: 11.2%;
	height: 35%;
	border:0.0625em solid #aaa;
	border-radius: 5px;
}
.infomenu:hover{
	 box-shadow:#666 0px 0px 10px;  
	-webkit-box-shadow:#666 0px 0px 10px;  
    -moz-box-shadow:#666 0px 0px 10px;  
}

.infomenu .imgTxt{
	margin-left:5px;
	margin-top:10px;
	text-align:middle;
}
.infotxt{
	margin-top: 10px;
	font-size: 13px;
}