<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">  
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">  
  
     <!-- 输出日志到控制台  ConsoleAppender -->   
    <appender name="console" class="org.apache.log4j.ConsoleAppender">  
        <param name="Target" value="System.out" /> 
        <layout class="org.apache.log4j.PatternLayout">  
            <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss\} %-5p] [%t] {%c:%L}-%m%n"></param>  
        </layout>  
    </appender>  
  
    <!-- 输出日志到文件  每天一个文件 -->  
    <appender name="dailyRollingFile" class="org.apache.log4j.DailyRollingFileAppender">  
        <param name="File" value="${webapp.root}/logs/dailyRollingFile.log"></param>  
        <param name="Append" value="true" /> 
        <param name="DatePattern" value="'.'yyyy-MM-dd'.log'"></param>  
        <layout class="org.apache.log4j.PatternLayout">  
            <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss\} %-5p] [%t] {%c:%L}-%m%n"></param>  
        </layout>  
    </appender>   
      
    <!-- 输出日志到文件  文件大小到达指定尺寸的时候产生一个新的文件 -->  
    <appender name="railyFile" class="org.apache.log4j.RollingFileAppender">  
        <param name="File" value="${webapp.root}/logs/railyFile.log"></param>  
        <param name="Append" value="true"></param>  
        <param name="MaxFileSize" value="10MB"></param>  
        <param name="MaxBackupIndex" value="100"></param>  
        <layout class="org.apache.log4j.PatternLayout">  
            <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss\} %-5p] [%t] {%c:%L}-%m%n"></param>  
        </layout>  
    </appender>  
  
    <!-- 输出日志到文件 -->  
    <appender name="file" class="org.apache.log4j.FileAppender">  
        <param name="File" value="${webapp.root}/logs/file.log"></param>  
        <param name="Threshold" value="info"></param>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss\} %-5p] [%t] {%c:%L}-%m%n"></param>  
        </layout>  
    </appender>  
    
    <logger name="org.apache" additivity="true">
       <level  value="ERROR"/>
       <appender-ref ref="console"/>
       <appender-ref ref="dailyRollingFile"/>
    </logger>
    
    <logger name="org.springframework" additivity="true">
       <level  value="WARN"/>
       <appender-ref ref="console"/>
       <appender-ref ref="dailyRollingFile"/>
    </logger>
    
    <logger name="org.mybatis" additivity="true">
       <level  value="ERROR"/>
       <appender-ref ref="console"/>
       <appender-ref ref="dailyRollingFile"/>
    </logger>
    
    <logger name="org.apache.ibatis" additivity="true">
       <level  value="ERROR"/>
       <appender-ref ref="console"/>
       <appender-ref ref="dailyRollingFile"/>
    </logger>
    
    <logger name="java.sql" additivity="true">  
        <level value="ERROR" />  
		<appender-ref ref="console"/>
      	<appender-ref ref="dailyRollingFile"/>
    </logger> 
    
    <logger name="org.apache.zookeeper" additivity="true">
       <level  value="WARN"/>
       <appender-ref ref="console"/>
       <appender-ref ref="dailyRollingFile"/>
    </logger>
    
    <logger name="org.apache.axis2" additivity="true">
       <level  value="ERROR"/>
       <appender-ref ref="console"/>
       <appender-ref ref="dailyRollingFile"/>
    </logger>
    
    <logger name="org.apache.axiom" additivity="true">
       <level  value="ERROR"/>
       <appender-ref ref="console"/>
       <appender-ref ref="dailyRollingFile"/>
    </logger>
    
    <logger name="org.quartz" additivity="true">
       <level  value="ERROR"/>
       <appender-ref ref="console"/>
       <appender-ref ref="dailyRollingFile"/>
    </logger>
    
    <logger name="httpclient.wire" additivity="true">
       <level  value="ERROR"/>
       <appender-ref ref="console"/>
       <appender-ref ref="dailyRollingFile"/>
    </logger>
    
    <logger name="com.nari" additivity="true">
    	<!-- 设置DEBUG会打印sql -->
       <level  value="DEBUG"/>
    </logger>
  
    <!--   
	        定义全局的日志输出级别,但是在输出目的地的配置中配置的具体输出级别优先级高于全局定义的优先级。  
	        如果在railyFile中定义<param name="Threshold" value="info"></param>，那么将会把info以上级别的信息输出  
     -->  
    <root>       
        <level  value="DEBUG" />       
        <!-- 控制台输出日志 -->
        <appender-ref ref="console" />    
        <appender-ref ref="dailyRollingFile" />   
    </root>  
  
</log4j:configuration> 